## Part 1

In [3]:
import pandas as pd
import numpy as np

df= pd.DataFrame(pd.read_csv('train.csv'))

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
for name in df['Name']:
    print(name)

Braund, Mr. Owen Harris
Cumings, Mrs. John Bradley (Florence Briggs Thayer)
Heikkinen, Miss. Laina
Futrelle, Mrs. Jacques Heath (Lily May Peel)
Allen, Mr. William Henry
Moran, Mr. James
McCarthy, Mr. Timothy J
Palsson, Master. Gosta Leonard
Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
Nasser, Mrs. Nicholas (Adele Achem)
Sandstrom, Miss. Marguerite Rut
Bonnell, Miss. Elizabeth
Saundercock, Mr. William Henry
Andersson, Mr. Anders Johan
Vestrom, Miss. Hulda Amanda Adolfina
Hewlett, Mrs. (Mary D Kingcome)
Rice, Master. Eugene
Williams, Mr. Charles Eugene
Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)
Masselmani, Mrs. Fatima
Fynney, Mr. Joseph J
Beesley, Mr. Lawrence
McGowan, Miss. Anna "Annie"
Sloper, Mr. William Thompson
Palsson, Miss. Torborg Danira
Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)
Emir, Mr. Farred Chehab
Fortune, Mr. Charles Alexander
O'Dwyer, Miss. Ellen "Nellie"
Todoroff, Mr. Lalio
Uruchurtu, Don. Manuel E
Spencer, Mrs. William Augustus (Marie Eugenie)
Glynn, Miss. Mary Agatha
Wheadon, Mr. Edward H
Meyer, Mr. Edgar Joseph
Holverson, Mr. Alexander Oskar
Mamee, Mr. Hanna
Cann, Mr. Ernest Charles
Vander Planke, Miss. Augusta Maria
Nicola-Yarred, Miss. Jamila
Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)
Kraeff, Mr. Theodor
Laroche, Miss. Simonne Marie Anne Andree
Devaney, Miss. Margaret Delia
Rogers, Mr. William John
Lennon, Mr. Denis
O'Driscoll, Miss. Bridget
Samaan, Mr. Youssef
Arnold-Franchi, Mrs. Josef (Josefine Franchi)
Panula, Master. Juha Niilo
Nosworthy, Mr. Richard Cater
Harper, Mrs. Henry Sleeper (Myna Haxtun)
Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)
Ostby, Mr. Engelhart Cornelius
Woolner, Mr. Hugh
Rugg, Miss. Emily
Novel, Mr. Mansouer
West, Miss. Constance Mirium
Goodwin, Master. William Frederick
Sirayanian, Mr. Orsen
Icard, Miss. Amelie
Harris, Mr. Henry Birkhardt
Skoog, Master. Harald
Stewart, Mr. Albert A
Moubarek, Master. Gerios
Nye, Mrs. (Elizabeth Ramell)
Crease, Mr. Ernest James
Andersson, Miss. Erna Alexandra
Kink, Mr. Vincenz
Jenkin, Mr. Stephen Curnow
Goodwin, Miss. Lillian Amy
Hood, Mr. Ambrose Jr
Chronopoulos, Mr. Apostolos
Bing, Mr. Lee
Moen, Mr. Sigurd Hansen
Staneff, Mr. Ivan
Moutal, Mr. Rahamin Haim
Caldwell, Master. Alden Gates
Dowdell, Miss. Elizabeth
Waelens, Mr. Achille
Sheerlinck, Mr. Jan Baptist
McDermott, Miss. Brigdet Delia
Carrau, Mr. Francisco M
Ilett, Miss. Bertha
Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)
Ford, Mr. William Neal
Slocovski, Mr. Selman Francis
Fortune, Miss. Mabel Helen
Celotti, Mr. Francesco
Christmann, Mr. Emil
Andreasson, Mr. Paul Edvin
Chaffee, Mr. Herbert Fuller
Dean, Mr. Bertram Frank
Coxon, Mr. Daniel
Shorney, Mr. Charles Joseph
Goldschmidt, Mr. George B
Greenfield, Mr. William Bertram
Doling, Mrs. John T (Ada Julia Bone)
Kantor, Mr. Sinai
Petranec, Miss. Matilda
Petroff, Mr. Pastcho ("Pentcho")
White, Mr. Richard Frasar
Johansson, Mr. Gustaf Joel
Gustafsson, Mr. Anders Vilhelm
Mionoff, Mr. Stoytcho
Salkjelsvik, Miss. Anna Kristine
Moss, Mr. Albert Johan
Rekic, Mr. Tido
Moran, Miss. Bertha
Porter, Mr. Walter Chamberlain
Zabour, Miss. Hileni
Barton, Mr. David John
Jussila, Miss. Katriina
Attalah, Miss. Malake
Pekoniemi, Mr. Edvard
Connors, Mr. Patrick
Turpin, Mr. William John Robert
Baxter, Mr. Quigg Edmond
Andersson, Miss. Ellis Anna Maria
Hickman, Mr. Stanley George
Moore, Mr. Leonard Charles
Nasser, Mr. Nicholas
Webber, Miss. Susan
White, Mr. Percival Wayland
Nicola-Yarred, Master. Elias
McMahon, Mr. Martin
Madsen, Mr. Fridtjof Arne
Peter, Miss. Anna
Ekstrom, Mr. Johan
Drazenoic, Mr. Jozef
Coelho, Mr. Domingos Fernandeo
Robins, Mrs. Alexander A (Grace Charity Laury)
Weisz, Mrs. Leopold (Mathilde Francoise Pede)
Sobey, Mr. Samuel James Hayden
Richard, Mr. Emile
Newsom, Miss. Helen Monypeny
Futrelle, Mr. Jacques Heath
Osen, Mr. Olaf Elon
Giglio, Mr. Victor
Boulos, Mrs. Joseph (Sultana)
Nysten, Miss. Anna Sofia
Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)
Burke, Mr. Jeremiah
Andrew, Mr. Edgardo Samuel
Nicholls, Mr. Joseph Charles
Andersson, Mr. August Edvard ("Wennerstrom")
Ford, Miss. Robina Maggie "Ruby"
Navratil, Mr. Michel ("Louis M Hoffman")
Byles, Rev. Thomas Roussel Davids
Bateman, Rev. Robert James
Pears, Mrs. Thomas (Edith Wearne)
Meo, Mr. Alfonzo
van Billiard, Mr. Austin Blyler
Olsen, Mr. Ole Martin
Williams, Mr. Charles Duane
Gilnagh, Miss. Katherine "Katie"
Corn, Mr. Harry
Smiljanic, Mr. Mile
Sage, Master. Thomas Henry
Cribb, Mr. John Hatfield
Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)
Bengtsson, Mr. John Viktor
Calic, Mr. Jovo
Panula, Master. Eino Viljami
Goldsmith, Master. Frank John William "Frankie"
Chibnall, Mrs. (Edith Martha Bowerman)
Skoog, Mrs. William (Anna Bernhardina Karlsson)
Baumann, Mr. John D
Ling, Mr. Lee
Van der hoef, Mr. Wyckoff
Rice, Master. Arthur
Johnson, Miss. Eleanor Ileen
Sivola, Mr. Antti Wilhelm
Smith, Mr. James Clinch
Klasen, Mr. Klas Albin
Lefebre, Master. Henry Forbes
Isham, Miss. Ann Elizabeth
Hale, Mr. Reginald
Leonard, Mr. Lionel
Sage, Miss. Constance Gladys
Pernot, Mr. Rene
Asplund, Master. Clarence Gustaf Hugo
Becker, Master. Richard F
Kink-Heilmann, Miss. Luise Gretchen
Rood, Mr. Hugh Roscoe
O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)
Romaine, Mr. Charles Hallace ("Mr C Rolmane")
Bourke, Mr. John
Turcin, Mr. Stjepan
Pinsky, Mrs. (Rosa)
Carbines, Mr. William
Andersen-Jensen, Miss. Carla Christine Nielsine
Navratil, Master. Michel M
Brown, Mrs. James Joseph (Margaret Tobin)
Lurette, Miss. Elise
Mernagh, Mr. Robert
Olsen, Mr. Karl Siegwart Andreas
Madigan, Miss. Margaret "Maggie"
Yrois, Miss. Henriette ("Mrs Harbeck")
Vande Walle, Mr. Nestor Cyriel
Sage, Mr. Frederick
Johanson, Mr. Jakob Alfred
Youseff, Mr. Gerious
Cohen, Mr. Gurshon "Gus"
Strom, Miss. Telma Matilda
Backstrom, Mr. Karl Alfred
Albimona, Mr. Nassef Cassem
Carr, Miss. Helen "Ellen"
Blank, Mr. Henry
Ali, Mr. Ahmed
Cameron, Miss. Clear Annie
Perkin, Mr. John Henry
Givard, Mr. Hans Kristensen
Kiernan, Mr. Philip
Newell, Miss. Madeleine
Honkanen, Miss. Eliina
Jacobsohn, Mr. Sidney Samuel
Bazzani, Miss. Albina
Harris, Mr. Walter
Sunderland, Mr. Victor Francis
Bracken, Mr. James H
Green, Mr. George Henry
Nenkoff, Mr. Christo
Hoyt, Mr. Frederick Maxfield
Berglund, Mr. Karl Ivar Sven
Mellors, Mr. William John
Lovell, Mr. John Hall ("Henry")
Fahlstrom, Mr. Arne Jonas
Lefebre, Miss. Mathilde
Harris, Mrs. Henry Birkhardt (Irene Wallach)
Larsson, Mr. Bengt Edvin
Sjostedt, Mr. Ernst Adolf
Asplund, Miss. Lillian Gertrud
Leyson, Mr. Robert William Norman
Harknett, Miss. Alice Phoebe
Hold, Mr. Stephen
Collyer, Miss. Marjorie "Lottie"
Pengelly, Mr. Frederick William
Hunt, Mr. George Henry
Zabour, Miss. Thamine
Murphy, Miss. Katherine "Kate"
Coleridge, Mr. Reginald Charles
Maenpaa, Mr. Matti Alexanteri
Attalah, Mr. Sleiman
Minahan, Dr. William Edward
Lindahl, Miss. Agda Thorilda Viktoria
Hamalainen, Mrs. William (Anna)
Beckwith, Mr. Richard Leonard
Carter, Rev. Ernest Courtenay
Reed, Mr. James George
Strom, Mrs. Wilhelm (Elna Matilda Persson)
Stead, Mr. William Thomas
Lobb, Mr. William Arthur
Rosblom, Mrs. Viktor (Helena Wilhelmina)
Touma, Mrs. Darwis (Hanne Youssef Razi)
Thorne, Mrs. Gertrude Maybelle
Cherry, Miss. Gladys
Ward, Miss. Anna
Parrish, Mrs. (Lutie Davis)
Smith, Mr. Thomas
Asplund, Master. Edvin Rojj Felix
Taussig, Mr. Emil
Harrison, Mr. William
Henry, Miss. Delia
Reeves, Mr. David
Panula, Mr. Ernesti Arvid
Persson, Mr. Ernst Ulrik
Graham, Mrs. William Thompson (Edith Junkins)
Bissette, Miss. Amelia
Cairns, Mr. Alexander
Tornquist, Mr. William Henry
Mellinger, Mrs. (Elizabeth Anne Maidment)
Natsch, Mr. Charles H
Healy, Miss. Hanora "Nora"
Andrews, Miss. Kornelia Theodosia
Lindblom, Miss. Augusta Charlotta
Parkes, Mr. Francis "Frank"
Rice, Master. Eric
Abbott, Mrs. Stanton (Rosa Hunt)
Duane, Mr. Frank
Olsson, Mr. Nils Johan Goransson
de Pelsmaeker, Mr. Alfons
Dorking, Mr. Edward Arthur
Smith, Mr. Richard William
Stankovic, Mr. Ivan
de Mulder, Mr. Theodore
Naidenoff, Mr. Penko
Hosono, Mr. Masabumi
Connolly, Miss. Kate
Barber, Miss. Ellen "Nellie"
Bishop, Mrs. Dickinson H (Helen Walton)
Levy, Mr. Rene Jacques
Haas, Miss. Aloisia
Mineff, Mr. Ivan
Lewy, Mr. Ervin G
Hanna, Mr. Mansour
Allison, Miss. Helen Loraine
Saalfeld, Mr. Adolphe
Baxter, Mrs. James (Helene DeLaudeniere Chaput)
Kelly, Miss. Anna Katherine "Annie Kate"
McCoy, Mr. Bernard
Johnson, Mr. William Cahoone Jr
Keane, Miss. Nora A
Williams, Mr. Howard Hugh "Harry"
Allison, Master. Hudson Trevor
Fleming, Miss. Margaret
Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)
Abelson, Mr. Samuel
Francatelli, Miss. Laura Mabel
Hays, Miss. Margaret Bechstein
Ryerson, Miss. Emily Borie
Lahtinen, Mrs. William (Anna Sylfven)
Hendekovic, Mr. Ignjac
Hart, Mr. Benjamin
Nilsson, Miss. Helmina Josefina
Kantor, Mrs. Sinai (Miriam Sternin)
Moraweck, Dr. Ernest
Wick, Miss. Mary Natalie
Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)
Dennis, Mr. Samuel
Danoff, Mr. Yoto
Slayter, Miss. Hilda Mary
Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)
Sage, Mr. George John Jr
Young, Miss. Marie Grice
Nysveen, Mr. Johan Hansen
Ball, Mrs. (Ada E Hall)
Goldsmith, Mrs. Frank John (Emily Alice Brown)
Hippach, Miss. Jean Gertrude
McCoy, Miss. Agnes
Partner, Mr. Austen
Graham, Mr. George Edward
Vander Planke, Mr. Leo Edmondus
Frauenthal, Mrs. Henry William (Clara Heinsheimer)
Denkoff, Mr. Mitto
Pears, Mr. Thomas Clinton
Burns, Miss. Elizabeth Margaret
Dahl, Mr. Karl Edwart
Blackwell, Mr. Stephen Weart
Navratil, Master. Edmond Roger
Fortune, Miss. Alice Elizabeth
Collander, Mr. Erik Gustaf
Sedgwick, Mr. Charles Frederick Waddington
Fox, Mr. Stanley Hubert
Brown, Miss. Amelia "Mildred"
Smith, Miss. Marion Elsie
Davison, Mrs. Thomas Henry (Mary E Finck)
Coutts, Master. William Loch "William"
Dimic, Mr. Jovan
Odahl, Mr. Nils Martin
Williams-Lambert, Mr. Fletcher Fellows
Elias, Mr. Tannous
Arnold-Franchi, Mr. Josef
Yousif, Mr. Wazli
Vanden Steen, Mr. Leo Peter
Bowerman, Miss. Elsie Edith
Funk, Miss. Annie Clemmer
McGovern, Miss. Mary
Mockler, Miss. Helen Mary "Ellie"
Skoog, Mr. Wilhelm
del Carlo, Mr. Sebastiano
Barbara, Mrs. (Catherine David)
Asim, Mr. Adola
O'Brien, Mr. Thomas
Adahl, Mr. Mauritz Nils Martin
Warren, Mrs. Frank Manley (Anna Sophia Atkinson)
Moussa, Mrs. (Mantoura Boulos)
Jermyn, Miss. Annie
Aubart, Mme. Leontine Pauline
Harder, Mr. George Achilles
Wiklund, Mr. Jakob Alfred
Beavan, Mr. William Thomas
Ringhini, Mr. Sante
Palsson, Miss. Stina Viola
Meyer, Mrs. Edgar Joseph (Leila Saks)
Landergren, Miss. Aurora Adelia
Widener, Mr. Harry Elkins
Betros, Mr. Tannous
Gustafsson, Mr. Karl Gideon
Bidois, Miss. Rosalie
Nakid, Miss. Maria ("Mary")
Tikkanen, Mr. Juho
Holverson, Mrs. Alexander Oskar (Mary Aline Towner)
Plotcharsky, Mr. Vasil
Davies, Mr. Charles Henry
Goodwin, Master. Sidney Leonard
Buss, Miss. Kate
Sadlier, Mr. Matthew
Lehmann, Miss. Bertha
Carter, Mr. William Ernest
Jansson, Mr. Carl Olof
Gustafsson, Mr. Johan Birger
Newell, Miss. Marjorie
Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)
Johansson, Mr. Erik
Olsson, Miss. Elina
McKane, Mr. Peter David
Pain, Dr. Alfred
Trout, Mrs. William H (Jessie L)
Niskanen, Mr. Juha
Adams, Mr. John
Jussila, Miss. Mari Aina
Hakkarainen, Mr. Pekka Pietari
Oreskovic, Miss. Marija
Gale, Mr. Shadrach
Widegren, Mr. Carl/Charles Peter
Richards, Master. William Rowe
Birkeland, Mr. Hans Martin Monsen
Lefebre, Miss. Ida
Sdycoff, Mr. Todor
Hart, Mr. Henry
Minahan, Miss. Daisy E
Cunningham, Mr. Alfred Fleming
Sundman, Mr. Johan Julian
Meek, Mrs. Thomas (Annie Louise Rowley)
Drew, Mrs. James Vivian (Lulu Thorne Christian)
Silven, Miss. Lyyli Karoliina
Matthews, Mr. William John
Van Impe, Miss. Catharina
Gheorgheff, Mr. Stanio
Charters, Mr. David
Zimmerman, Mr. Leo
Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)
Rosblom, Mr. Viktor Richard
Wiseman, Mr. Phillippe
Clarke, Mrs. Charles V (Ada Maria Winfield)
Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")
Flynn, Mr. James
Pickard, Mr. Berk (Berk Trembisky)
Bjornstrom-Steffansson, Mr. Mauritz Hakan
Thorneycroft, Mrs. Percival (Florence Kate White)
Louch, Mrs. Charles Alexander (Alice Adelaide Slow)
Kallio, Mr. Nikolai Erland
Silvey, Mr. William Baird
Carter, Miss. Lucile Polk
Ford, Miss. Doolina Margaret "Daisy"
Richards, Mrs. Sidney (Emily Hocking)
Fortune, Mr. Mark
Kvillner, Mr. Johan Henrik Johannesson
Hart, Mrs. Benjamin (Esther Ada Bloomfield)
Hampe, Mr. Leon
Petterson, Mr. Johan Emil
Reynaldo, Ms. Encarnacion
Johannesen-Bratthammer, Mr. Bernt
Dodge, Master. Washington
Mellinger, Miss. Madeleine Violet
Seward, Mr. Frederic Kimber
Baclini, Miss. Marie Catherine
Peuchen, Major. Arthur Godfrey
West, Mr. Edwy Arthur
Hagland, Mr. Ingvald Olai Olsen
Foreman, Mr. Benjamin Laventall
Goldenberg, Mr. Samuel L
Peduzzi, Mr. Joseph
Jalsevac, Mr. Ivan
Millet, Mr. Francis Davis
Kenyon, Mrs. Frederick R (Marion)
Toomey, Miss. Ellen
O'Connor, Mr. Maurice
Anderson, Mr. Harry
Morley, Mr. William
Gee, Mr. Arthur H
Milling, Mr. Jacob Christian
Maisner, Mr. Simon
Goncalves, Mr. Manuel Estanslas
Campbell, Mr. William
Smart, Mr. John Montgomery
Scanlan, Mr. James
Baclini, Miss. Helene Barbara
Keefe, Mr. Arthur
Cacic, Mr. Luka
West, Mrs. Edwy Arthur (Ada Mary Worth)
Jerwan, Mrs. Amin S (Marie Marthe Thuillard)
Strandberg, Miss. Ida Sofia
Clifford, Mr. George Quincy
Renouf, Mr. Peter Henry
Braund, Mr. Lewis Richard
Karlsson, Mr. Nils August
Hirvonen, Miss. Hildur E
Goodwin, Master. Harold Victor
Frost, Mr. Anthony Wood "Archie"
Rouse, Mr. Richard Henry
Turkula, Mrs. (Hedwig)
Bishop, Mr. Dickinson H
Lefebre, Miss. Jeannie
Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)
Kent, Mr. Edward Austin
Somerton, Mr. Francis William
Coutts, Master. Eden Leslie "Neville"
Hagland, Mr. Konrad Mathias Reiersen
Windelov, Mr. Einar
Molson, Mr. Harry Markland
Artagaveytia, Mr. Ramon
Stanley, Mr. Edward Roland
Yousseff, Mr. Gerious
Eustis, Miss. Elizabeth Mussey
Shellard, Mr. Frederick William
Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
Svensson, Mr. Olof
Calic, Mr. Petar
Canavan, Miss. Mary
O'Sullivan, Miss. Bridget Mary
Laitinen, Miss. Kristina Sofia
Maioni, Miss. Roberta
Penasco y Castellana, Mr. Victor de Satode
Quick, Mrs. Frederick Charles (Jane Richards)
Bradley, Mr. George ("George Arthur Brayton")
Olsen, Mr. Henry Margido
Lang, Mr. Fang
Daly, Mr. Eugene Patrick
Webber, Mr. James
McGough, Mr. James Robert
Rothschild, Mrs. Martin (Elizabeth L. Barrett)
Coleff, Mr. Satio
Walker, Mr. William Anderson
Lemore, Mrs. (Amelia Milley)
Ryan, Mr. Patrick
Angle, Mrs. William A (Florence "Mary" Agnes Hughes)
Pavlovic, Mr. Stefo
Perreault, Miss. Anne
Vovk, Mr. Janko
Lahoud, Mr. Sarkis
Hippach, Mrs. Louis Albert (Ida Sophia Fischer)
Kassem, Mr. Fared
Farrell, Mr. James
Ridsdale, Miss. Lucy
Farthing, Mr. John
Salonen, Mr. Johan Werner
Hocking, Mr. Richard George
Quick, Miss. Phyllis May
Toufik, Mr. Nakli
Elias, Mr. Joseph Jr
Peter, Mrs. Catherine (Catherine Rizk)
Cacic, Miss. Marija
Hart, Miss. Eva Miriam
Butt, Major. Archibald Willingham
LeRoy, Miss. Bertha
Risien, Mr. Samuel Beard
Frolicher, Miss. Hedwig Margaritha
Crosby, Miss. Harriet R
Andersson, Miss. Ingeborg Constanzia
Andersson, Miss. Sigrid Elisabeth
Beane, Mr. Edward
Douglas, Mr. Walter Donald
Nicholson, Mr. Arthur Ernest
Beane, Mrs. Edward (Ethel Clarke)
Padro y Manent, Mr. Julian
Goldsmith, Mr. Frank John
Davies, Master. John Morgan Jr
Thayer, Mr. John Borland Jr
Sharp, Mr. Percival James R
O'Brien, Mr. Timothy
Leeni, Mr. Fahim ("Philip Zenni")
Ohman, Miss. Velin
Wright, Mr. George
Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")
Robbins, Mr. Victor
Taussig, Mrs. Emil (Tillie Mandelbaum)
de Messemaeker, Mrs. Guillaume Joseph (Emma)
Morrow, Mr. Thomas Rowan
Sivic, Mr. Husein
Norman, Mr. Robert Douglas
Simmons, Mr. John
Meanwell, Miss. (Marion Ogden)
Davies, Mr. Alfred J
Stoytcheff, Mr. Ilia
Palsson, Mrs. Nils (Alma Cornelia Berglund)
Doharr, Mr. Tannous
Jonsson, Mr. Carl
Harris, Mr. George
Appleton, Mrs. Edward Dale (Charlotte Lamson)
Flynn, Mr. John Irwin ("Irving")
Kelly, Miss. Mary
Rush, Mr. Alfred George John
Patchett, Mr. George
Garside, Miss. Ethel
Silvey, Mrs. William Baird (Alice Munger)
Caram, Mrs. Joseph (Maria Elias)
Jussila, Mr. Eiriik
Christy, Miss. Julie Rachel
Thayer, Mrs. John Borland (Marian Longstreth Morris)
Downton, Mr. William James
Ross, Mr. John Hugo
Paulner, Mr. Uscher
Taussig, Miss. Ruth
Jarvis, Mr. John Denzil
Frolicher-Stehli, Mr. Maxmillian
Gilinski, Mr. Eliezer
Murdlin, Mr. Joseph
Rintamaki, Mr. Matti
Stephenson, Mrs. Walter Bertram (Martha Eustis)
Elsbury, Mr. William James
Bourke, Miss. Mary
Chapman, Mr. John Henry
Van Impe, Mr. Jean Baptiste
Leitch, Miss. Jessie Wills
Johnson, Mr. Alfred
Boulos, Mr. Hanna
Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")
Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)
Slabenoff, Mr. Petco
Harrington, Mr. Charles H
Torber, Mr. Ernst William
Homer, Mr. Harry ("Mr E Haven")
Lindell, Mr. Edvard Bengtsson
Karaic, Mr. Milan
Daniel, Mr. Robert Williams
Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)
Shutes, Miss. Elizabeth W
Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)
Jardin, Mr. Jose Neto
Murphy, Miss. Margaret Jane
Horgan, Mr. John
Brocklebank, Mr. William Alfred
Herman, Miss. Alice
Danbom, Mr. Ernst Gilbert
Lobb, Mrs. William Arthur (Cordelia K Stanlick)
Becker, Miss. Marion Louise
Gavey, Mr. Lawrence
Yasbeck, Mr. Antoni
Kimball, Mr. Edwin Nelson Jr
Nakid, Mr. Sahid
Hansen, Mr. Henry Damsgaard
Bowen, Mr. David John "Dai"
Sutton, Mr. Frederick
Kirkland, Rev. Charles Leonard
Longley, Miss. Gretchen Fiske
Bostandyeff, Mr. Guentcho
O'Connell, Mr. Patrick D
Barkworth, Mr. Algernon Henry Wilson
Lundahl, Mr. Johan Svensson
Stahelin-Maeglin, Dr. Max
Parr, Mr. William Henry Marsh
Skoog, Miss. Mabel
Davis, Miss. Mary
Leinonen, Mr. Antti Gustaf
Collyer, Mr. Harvey
Panula, Mrs. Juha (Maria Emilia Ojala)
Thorneycroft, Mr. Percival
Jensen, Mr. Hans Peder
Sagesser, Mlle. Emma
Skoog, Miss. Margit Elizabeth
Foo, Mr. Choong
Baclini, Miss. Eugenie
Harper, Mr. Henry Sleeper
Cor, Mr. Liudevit
Simonius-Blumer, Col. Oberst Alfons
Willey, Mr. Edward
Stanley, Miss. Amy Zillah Elsie
Mitkoff, Mr. Mito
Doling, Miss. Elsie
Kalvik, Mr. Johannes Halvorsen
O'Leary, Miss. Hanora "Norah"
Hegarty, Miss. Hanora "Nora"
Hickman, Mr. Leonard Mark
Radeff, Mr. Alexander
Bourke, Mrs. John (Catherine)
Eitemiller, Mr. George Floyd
Newell, Mr. Arthur Webster
Frauenthal, Dr. Henry William
Badt, Mr. Mohamed
Colley, Mr. Edward Pomeroy
Coleff, Mr. Peju
Lindqvist, Mr. Eino William
Hickman, Mr. Lewis
Butler, Mr. Reginald Fenton
Rommetvedt, Mr. Knud Paust
Cook, Mr. Jacob
Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)
Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)
Davidson, Mr. Thornton
Mitchell, Mr. Henry Michael
Wilhelms, Mr. Charles
Watson, Mr. Ennis Hastings
Edvardsson, Mr. Gustaf Hjalmar
Sawyer, Mr. Frederick Charles
Turja, Miss. Anna Sofia
Goodwin, Mrs. Frederick (Augusta Tyler)
Cardeza, Mr. Thomas Drake Martinez
Peters, Miss. Katie
Hassab, Mr. Hammad
Olsvigen, Mr. Thor Anderson
Goodwin, Mr. Charles Edward
Brown, Mr. Thomas William Solomon
Laroche, Mr. Joseph Philippe Lemercier
Panula, Mr. Jaako Arnold
Dakic, Mr. Branko
Fischer, Mr. Eberhard Thelander
Madill, Miss. Georgette Alexandra
Dick, Mr. Albert Adrian
Karun, Miss. Manca
Lam, Mr. Ali
Saad, Mr. Khalil
Weir, Col. John
Chapman, Mr. Charles Henry
Kelly, Mr. James
Mullens, Miss. Katherine "Katie"
Thayer, Mr. John Borland
Humblen, Mr. Adolf Mathias Nicolai Olsen
Astor, Mrs. John Jacob (Madeleine Talmadge Force)
Silverthorne, Mr. Spencer Victor
Barbara, Miss. Saiide
Gallagher, Mr. Martin
Hansen, Mr. Henrik Juul
Morley, Mr. Henry Samuel ("Mr Henry Marshall")
Kelly, Mrs. Florence "Fannie"
Calderhead, Mr. Edward Pennington
Cleaver, Miss. Alice
Moubarek, Master. Halim Gonios ("William George")
Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")
Klaber, Mr. Herman
Taylor, Mr. Elmer Zebley
Larsson, Mr. August Viktor

In [8]:
for name in df['Name']:
    print(name.upper())

BRAUND, MR. OWEN HARRIS
CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS THAYER)
HEIKKINEN, MISS. LAINA
FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)
ALLEN, MR. WILLIAM HENRY
MORAN, MR. JAMES
MCCARTHY, MR. TIMOTHY J
PALSSON, MASTER. GOSTA LEONARD
JOHNSON, MRS. OSCAR W (ELISABETH VILHELMINA BERG)
NASSER, MRS. NICHOLAS (ADELE ACHEM)
SANDSTROM, MISS. MARGUERITE RUT
BONNELL, MISS. ELIZABETH
SAUNDERCOCK, MR. WILLIAM HENRY
ANDERSSON, MR. ANDERS JOHAN
VESTROM, MISS. HULDA AMANDA ADOLFINA
HEWLETT, MRS. (MARY D KINGCOME)
RICE, MASTER. EUGENE
WILLIAMS, MR. CHARLES EUGENE
VANDER PLANKE, MRS. JULIUS (EMELIA MARIA VANDEMOORTELE)
MASSELMANI, MRS. FATIMA
FYNNEY, MR. JOSEPH J
BEESLEY, MR. LAWRENCE
MCGOWAN, MISS. ANNA "ANNIE"
SLOPER, MR. WILLIAM THOMPSON
PALSSON, MISS. TORBORG DANIRA
ASPLUND, MRS. CARL OSCAR (SELMA AUGUSTA EMILIA JOHANSSON)
EMIR, MR. FARRED CHEHAB
FORTUNE, MR. CHARLES ALEXANDER
O'DWYER, MISS. ELLEN "NELLIE"
TODOROFF, MR. LALIO
URUCHURTU, DON. MANUEL E
SPENCER, MRS. WILLIAM AUGUSTUS (MARIE EUGENIE)
GLYNN, MISS. MARY AGATHA
WHEADON, MR. EDWARD H
MEYER, MR. EDGAR JOSEPH
HOLVERSON, MR. ALEXANDER OSKAR
MAMEE, MR. HANNA
CANN, MR. ERNEST CHARLES
VANDER PLANKE, MISS. AUGUSTA MARIA
NICOLA-YARRED, MISS. JAMILA
AHLIN, MRS. JOHAN (JOHANNA PERSDOTTER LARSSON)
TURPIN, MRS. WILLIAM JOHN ROBERT (DOROTHY ANN WONNACOTT)
KRAEFF, MR. THEODOR
LAROCHE, MISS. SIMONNE MARIE ANNE ANDREE
DEVANEY, MISS. MARGARET DELIA
ROGERS, MR. WILLIAM JOHN
LENNON, MR. DENIS
O'DRISCOLL, MISS. BRIDGET
SAMAAN, MR. YOUSSEF
ARNOLD-FRANCHI, MRS. JOSEF (JOSEFINE FRANCHI)
PANULA, MASTER. JUHA NIILO
NOSWORTHY, MR. RICHARD CATER
HARPER, MRS. HENRY SLEEPER (MYNA HAXTUN)
FAUNTHORPE, MRS. LIZZIE (ELIZABETH ANNE WILKINSON)
OSTBY, MR. ENGELHART CORNELIUS
WOOLNER, MR. HUGH
RUGG, MISS. EMILY
NOVEL, MR. MANSOUER
WEST, MISS. CONSTANCE MIRIUM
GOODWIN, MASTER. WILLIAM FREDERICK
SIRAYANIAN, MR. ORSEN
ICARD, MISS. AMELIE
HARRIS, MR. HENRY BIRKHARDT
SKOOG, MASTER. HARALD
STEWART, MR. ALBERT A
MOUBAREK, MASTER. GERIOS
NYE, MRS. (ELIZABETH RAMELL)
CREASE, MR. ERNEST JAMES
ANDERSSON, MISS. ERNA ALEXANDRA
KINK, MR. VINCENZ
JENKIN, MR. STEPHEN CURNOW
GOODWIN, MISS. LILLIAN AMY
HOOD, MR. AMBROSE JR
CHRONOPOULOS, MR. APOSTOLOS
BING, MR. LEE
MOEN, MR. SIGURD HANSEN
STANEFF, MR. IVAN
MOUTAL, MR. RAHAMIN HAIM
CALDWELL, MASTER. ALDEN GATES
DOWDELL, MISS. ELIZABETH
WAELENS, MR. ACHILLE
SHEERLINCK, MR. JAN BAPTIST
MCDERMOTT, MISS. BRIGDET DELIA
CARRAU, MR. FRANCISCO M
ILETT, MISS. BERTHA
BACKSTROM, MRS. KARL ALFRED (MARIA MATHILDA GUSTAFSSON)
FORD, MR. WILLIAM NEAL
SLOCOVSKI, MR. SELMAN FRANCIS
FORTUNE, MISS. MABEL HELEN
CELOTTI, MR. FRANCESCO
CHRISTMANN, MR. EMIL
ANDREASSON, MR. PAUL EDVIN
CHAFFEE, MR. HERBERT FULLER
DEAN, MR. BERTRAM FRANK
COXON, MR. DANIEL
SHORNEY, MR. CHARLES JOSEPH
GOLDSCHMIDT, MR. GEORGE B
GREENFIELD, MR. WILLIAM BERTRAM
DOLING, MRS. JOHN T (ADA JULIA BONE)
KANTOR, MR. SINAI
PETRANEC, MISS. MATILDA
PETROFF, MR. PASTCHO ("PENTCHO")
WHITE, MR. RICHARD FRASAR
JOHANSSON, MR. GUSTAF JOEL
GUSTAFSSON, MR. ANDERS VILHELM
MIONOFF, MR. STOYTCHO
SALKJELSVIK, MISS. ANNA KRISTINE
MOSS, MR. ALBERT JOHAN
REKIC, MR. TIDO
MORAN, MISS. BERTHA
PORTER, MR. WALTER CHAMBERLAIN
ZABOUR, MISS. HILENI
BARTON, MR. DAVID JOHN
JUSSILA, MISS. KATRIINA
ATTALAH, MISS. MALAKE
PEKONIEMI, MR. EDVARD
CONNORS, MR. PATRICK
TURPIN, MR. WILLIAM JOHN ROBERT
BAXTER, MR. QUIGG EDMOND
ANDERSSON, MISS. ELLIS ANNA MARIA
HICKMAN, MR. STANLEY GEORGE
MOORE, MR. LEONARD CHARLES
NASSER, MR. NICHOLAS
WEBBER, MISS. SUSAN
WHITE, MR. PERCIVAL WAYLAND
NICOLA-YARRED, MASTER. ELIAS
MCMAHON, MR. MARTIN
MADSEN, MR. FRIDTJOF ARNE
PETER, MISS. ANNA
EKSTROM, MR. JOHAN
DRAZENOIC, MR. JOZEF
COELHO, MR. DOMINGOS FERNANDEO
ROBINS, MRS. ALEXANDER A (GRACE CHARITY LAURY)
WEISZ, MRS. LEOPOLD (MATHILDE FRANCOISE PEDE)
SOBEY, MR. SAMUEL JAMES HAYDEN
RICHARD, MR. EMILE
NEWSOM, MISS. HELEN MONYPENY
FUTRELLE, MR. JACQUES HEATH
OSEN, MR. OLAF ELON
GIGLIO, MR. VICTOR
BOULOS, MRS. JOSEPH (SULTANA)
NYSTEN, MISS. ANNA SOFIA
HAKKARAINEN, MRS. PEKKA PIETARI (ELIN MATILDA DOLCK)
BURKE, MR. JEREMIAH
ANDREW, MR. EDGARDO SAMUEL
NICHOLLS, MR. JOSEPH CHARLES
ANDERSSON, MR. AUGUST EDVARD ("WENNERSTROM")
FORD, MISS. ROBINA MAGGIE "RUBY"
NAVRATIL, MR. MICHEL ("LOUIS M HOFFMAN")
BYLES, REV. THOMAS ROUSSEL DAVIDS
BATEMAN, REV. ROBERT JAMES
PEARS, MRS. THOMAS (EDITH WEARNE)
MEO, MR. ALFONZO
VAN BILLIARD, MR. AUSTIN BLYLER
OLSEN, MR. OLE MARTIN
WILLIAMS, MR. CHARLES DUANE
GILNAGH, MISS. KATHERINE "KATIE"
CORN, MR. HARRY
SMILJANIC, MR. MILE
SAGE, MASTER. THOMAS HENRY
CRIBB, MR. JOHN HATFIELD
WATT, MRS. JAMES (ELIZABETH "BESSIE" INGLIS MILNE)
BENGTSSON, MR. JOHN VIKTOR
CALIC, MR. JOVO
PANULA, MASTER. EINO VILJAMI
GOLDSMITH, MASTER. FRANK JOHN WILLIAM "FRANKIE"
CHIBNALL, MRS. (EDITH MARTHA BOWERMAN)
SKOOG, MRS. WILLIAM (ANNA BERNHARDINA KARLSSON)
BAUMANN, MR. JOHN D
LING, MR. LEE
VAN DER HOEF, MR. WYCKOFF
RICE, MASTER. ARTHUR
JOHNSON, MISS. ELEANOR ILEEN
SIVOLA, MR. ANTTI WILHELM
SMITH, MR. JAMES CLINCH
KLASEN, MR. KLAS ALBIN
LEFEBRE, MASTER. HENRY FORBES
ISHAM, MISS. ANN ELIZABETH
HALE, MR. REGINALD
LEONARD, MR. LIONEL
SAGE, MISS. CONSTANCE GLADYS
PERNOT, MR. RENE
ASPLUND, MASTER. CLARENCE GUSTAF HUGO
BECKER, MASTER. RICHARD F
KINK-HEILMANN, MISS. LUISE GRETCHEN
ROOD, MR. HUGH ROSCOE
O'BRIEN, MRS. THOMAS (JOHANNA "HANNAH" GODFREY)
ROMAINE, MR. CHARLES HALLACE ("MR C ROLMANE")
BOURKE, MR. JOHN
TURCIN, MR. STJEPAN
PINSKY, MRS. (ROSA)
CARBINES, MR. WILLIAM
ANDERSEN-JENSEN, MISS. CARLA CHRISTINE NIELSINE
NAVRATIL, MASTER. MICHEL M
BROWN, MRS. JAMES JOSEPH (MARGARET TOBIN)
LURETTE, MISS. ELISE
MERNAGH, MR. ROBERT
OLSEN, MR. KARL SIEGWART ANDREAS
MADIGAN, MISS. MARGARET "MAGGIE"
YROIS, MISS. HENRIETTE ("MRS HARBECK")
VANDE WALLE, MR. NESTOR CYRIEL
SAGE, MR. FREDERICK
JOHANSON, MR. JAKOB ALFRED
YOUSEFF, MR. GERIOUS
COHEN, MR. GURSHON "GUS"
STROM, MISS. TELMA MATILDA
BACKSTROM, MR. KARL ALFRED
ALBIMONA, MR. NASSEF CASSEM
CARR, MISS. HELEN "ELLEN"
BLANK, MR. HENRY
ALI, MR. AHMED
CAMERON, MISS. CLEAR ANNIE
PERKIN, MR. JOHN HENRY
GIVARD, MR. HANS KRISTENSEN
KIERNAN, MR. PHILIP
NEWELL, MISS. MADELEINE
HONKANEN, MISS. ELIINA
JACOBSOHN, MR. SIDNEY SAMUEL
BAZZANI, MISS. ALBINA
HARRIS, MR. WALTER
SUNDERLAND, MR. VICTOR FRANCIS
BRACKEN, MR. JAMES H
GREEN, MR. GEORGE HENRY
NENKOFF, MR. CHRISTO
HOYT, MR. FREDERICK MAXFIELD
BERGLUND, MR. KARL IVAR SVEN
MELLORS, MR. WILLIAM JOHN
LOVELL, MR. JOHN HALL ("HENRY")
FAHLSTROM, MR. ARNE JONAS
LEFEBRE, MISS. MATHILDE
HARRIS, MRS. HENRY BIRKHARDT (IRENE WALLACH)
LARSSON, MR. BENGT EDVIN
SJOSTEDT, MR. ERNST ADOLF
ASPLUND, MISS. LILLIAN GERTRUD
LEYSON, MR. ROBERT WILLIAM NORMAN
HARKNETT, MISS. ALICE PHOEBE
HOLD, MR. STEPHEN
COLLYER, MISS. MARJORIE "LOTTIE"
PENGELLY, MR. FREDERICK WILLIAM
HUNT, MR. GEORGE HENRY
ZABOUR, MISS. THAMINE
MURPHY, MISS. KATHERINE "KATE"
COLERIDGE, MR. REGINALD CHARLES
MAENPAA, MR. MATTI ALEXANTERI
ATTALAH, MR. SLEIMAN
MINAHAN, DR. WILLIAM EDWARD
LINDAHL, MISS. AGDA THORILDA VIKTORIA
HAMALAINEN, MRS. WILLIAM (ANNA)
BECKWITH, MR. RICHARD LEONARD
CARTER, REV. ERNEST COURTENAY
REED, MR. JAMES GEORGE
STROM, MRS. WILHELM (ELNA MATILDA PERSSON)
STEAD, MR. WILLIAM THOMAS
LOBB, MR. WILLIAM ARTHUR
ROSBLOM, MRS. VIKTOR (HELENA WILHELMINA)
TOUMA, MRS. DARWIS (HANNE YOUSSEF RAZI)
THORNE, MRS. GERTRUDE MAYBELLE
CHERRY, MISS. GLADYS
WARD, MISS. ANNA
PARRISH, MRS. (LUTIE DAVIS)
SMITH, MR. THOMAS
ASPLUND, MASTER. EDVIN ROJJ FELIX
TAUSSIG, MR. EMIL
HARRISON, MR. WILLIAM
HENRY, MISS. DELIA
REEVES, MR. DAVID
PANULA, MR. ERNESTI ARVID
PERSSON, MR. ERNST ULRIK
GRAHAM, MRS. WILLIAM THOMPSON (EDITH JUNKINS)
BISSETTE, MISS. AMELIA
CAIRNS, MR. ALEXANDER
TORNQUIST, MR. WILLIAM HENRY
MELLINGER, MRS. (ELIZABETH ANNE MAIDMENT)
NATSCH, MR. CHARLES H
HEALY, MISS. HANORA "NORA"
ANDREWS, MISS. KORNELIA THEODOSIA
LINDBLOM, MISS. AUGUSTA CHARLOTTA
PARKES, MR. FRANCIS "FRANK"
RICE, MASTER. ERIC
ABBOTT, MRS. STANTON (ROSA HUNT)
DUANE, MR. FRANK
OLSSON, MR. NILS JOHAN GORANSSON
DE PELSMAEKER, MR. ALFONS
DORKING, MR. EDWARD ARTHUR
SMITH, MR. RICHARD WILLIAM
STANKOVIC, MR. IVAN
DE MULDER, MR. THEODORE
NAIDENOFF, MR. PENKO
HOSONO, MR. MASABUMI
CONNOLLY, MISS. KATE
BARBER, MISS. ELLEN "NELLIE"
BISHOP, MRS. DICKINSON H (HELEN WALTON)
LEVY, MR. RENE JACQUES
HAAS, MISS. ALOISIA
MINEFF, MR. IVAN
LEWY, MR. ERVIN G
HANNA, MR. MANSOUR
ALLISON, MISS. HELEN LORAINE
SAALFELD, MR. ADOLPHE
BAXTER, MRS. JAMES (HELENE DELAUDENIERE CHAPUT)
KELLY, MISS. ANNA KATHERINE "ANNIE KATE"
MCCOY, MR. BERNARD
JOHNSON, MR. WILLIAM CAHOONE JR
KEANE, MISS. NORA A
WILLIAMS, MR. HOWARD HUGH "HARRY"
ALLISON, MASTER. HUDSON TREVOR
FLEMING, MISS. MARGARET
PENASCO Y CASTELLANA, MRS. VICTOR DE SATODE (MARIA JOSEFA PEREZ DE SOTO Y VALLEJO)
ABELSON, MR. SAMUEL
FRANCATELLI, MISS. LAURA MABEL
HAYS, MISS. MARGARET BECHSTEIN
RYERSON, MISS. EMILY BORIE
LAHTINEN, MRS. WILLIAM (ANNA SYLFVEN)
HENDEKOVIC, MR. IGNJAC
HART, MR. BENJAMIN
NILSSON, MISS. HELMINA JOSEFINA
KANTOR, MRS. SINAI (MIRIAM STERNIN)
MORAWECK, DR. ERNEST
WICK, MISS. MARY NATALIE
SPEDDEN, MRS. FREDERIC OAKLEY (MARGARETTA CORNING STONE)
DENNIS, MR. SAMUEL
DANOFF, MR. YOTO
SLAYTER, MISS. HILDA MARY
CALDWELL, MRS. ALBERT FRANCIS (SYLVIA MAE HARBAUGH)
SAGE, MR. GEORGE JOHN JR
YOUNG, MISS. MARIE GRICE
NYSVEEN, MR. JOHAN HANSEN
BALL, MRS. (ADA E HALL)
GOLDSMITH, MRS. FRANK JOHN (EMILY ALICE BROWN)
HIPPACH, MISS. JEAN GERTRUDE
MCCOY, MISS. AGNES
PARTNER, MR. AUSTEN
GRAHAM, MR. GEORGE EDWARD
VANDER PLANKE, MR. LEO EDMONDUS
FRAUENTHAL, MRS. HENRY WILLIAM (CLARA HEINSHEIMER)
DENKOFF, MR. MITTO
PEARS, MR. THOMAS CLINTON
BURNS, MISS. ELIZABETH MARGARET
DAHL, MR. KARL EDWART
BLACKWELL, MR. STEPHEN WEART
NAVRATIL, MASTER. EDMOND ROGER
FORTUNE, MISS. ALICE ELIZABETH
COLLANDER, MR. ERIK GUSTAF
SEDGWICK, MR. CHARLES FREDERICK WADDINGTON
FOX, MR. STANLEY HUBERT
BROWN, MISS. AMELIA "MILDRED"
SMITH, MISS. MARION ELSIE
DAVISON, MRS. THOMAS HENRY (MARY E FINCK)
COUTTS, MASTER. WILLIAM LOCH "WILLIAM"
DIMIC, MR. JOVAN
ODAHL, MR. NILS MARTIN
WILLIAMS-LAMBERT, MR. FLETCHER FELLOWS
ELIAS, MR. TANNOUS
ARNOLD-FRANCHI, MR. JOSEF
YOUSIF, MR. WAZLI
VANDEN STEEN, MR. LEO PETER
BOWERMAN, MISS. ELSIE EDITH
FUNK, MISS. ANNIE CLEMMER
MCGOVERN, MISS. MARY
MOCKLER, MISS. HELEN MARY "ELLIE"
SKOOG, MR. WILHELM
DEL CARLO, MR. SEBASTIANO
BARBARA, MRS. (CATHERINE DAVID)
ASIM, MR. ADOLA
O'BRIEN, MR. THOMAS
ADAHL, MR. MAURITZ NILS MARTIN
WARREN, MRS. FRANK MANLEY (ANNA SOPHIA ATKINSON)
MOUSSA, MRS. (MANTOURA BOULOS)
JERMYN, MISS. ANNIE
AUBART, MME. LEONTINE PAULINE
HARDER, MR. GEORGE ACHILLES
WIKLUND, MR. JAKOB ALFRED
BEAVAN, MR. WILLIAM THOMAS
RINGHINI, MR. SANTE
PALSSON, MISS. STINA VIOLA
MEYER, MRS. EDGAR JOSEPH (LEILA SAKS)
LANDERGREN, MISS. AURORA ADELIA
WIDENER, MR. HARRY ELKINS
BETROS, MR. TANNOUS
GUSTAFSSON, MR. KARL GIDEON
BIDOIS, MISS. ROSALIE
NAKID, MISS. MARIA ("MARY")
TIKKANEN, MR. JUHO
HOLVERSON, MRS. ALEXANDER OSKAR (MARY ALINE TOWNER)
PLOTCHARSKY, MR. VASIL
DAVIES, MR. CHARLES HENRY
GOODWIN, MASTER. SIDNEY LEONARD
BUSS, MISS. KATE
SADLIER, MR. MATTHEW
LEHMANN, MISS. BERTHA
CARTER, MR. WILLIAM ERNEST
JANSSON, MR. CARL OLOF
GUSTAFSSON, MR. JOHAN BIRGER
NEWELL, MISS. MARJORIE
SANDSTROM, MRS. HJALMAR (AGNES CHARLOTTA BENGTSSON)
JOHANSSON, MR. ERIK
OLSSON, MISS. ELINA
MCKANE, MR. PETER DAVID
PAIN, DR. ALFRED
TROUT, MRS. WILLIAM H (JESSIE L)
NISKANEN, MR. JUHA
ADAMS, MR. JOHN
JUSSILA, MISS. MARI AINA
HAKKARAINEN, MR. PEKKA PIETARI
ORESKOVIC, MISS. MARIJA
GALE, MR. SHADRACH
WIDEGREN, MR. CARL/CHARLES PETER
RICHARDS, MASTER. WILLIAM ROWE
BIRKELAND, MR. HANS MARTIN MONSEN
LEFEBRE, MISS. IDA
SDYCOFF, MR. TODOR
HART, MR. HENRY
MINAHAN, MISS. DAISY E
CUNNINGHAM, MR. ALFRED FLEMING
SUNDMAN, MR. JOHAN JULIAN
MEEK, MRS. THOMAS (ANNIE LOUISE ROWLEY)
DREW, MRS. JAMES VIVIAN (LULU THORNE CHRISTIAN)
SILVEN, MISS. LYYLI KAROLIINA
MATTHEWS, MR. WILLIAM JOHN
VAN IMPE, MISS. CATHARINA
GHEORGHEFF, MR. STANIO
CHARTERS, MR. DAVID
ZIMMERMAN, MR. LEO
DANBOM, MRS. ERNST GILBERT (ANNA SIGRID MARIA BROGREN)
ROSBLOM, MR. VIKTOR RICHARD
WISEMAN, MR. PHILLIPPE
CLARKE, MRS. CHARLES V (ADA MARIA WINFIELD)
PHILLIPS, MISS. KATE FLORENCE ("MRS KATE LOUISE PHILLIPS MARSHALL")
FLYNN, MR. JAMES
PICKARD, MR. BERK (BERK TREMBISKY)
BJORNSTROM-STEFFANSSON, MR. MAURITZ HAKAN
THORNEYCROFT, MRS. PERCIVAL (FLORENCE KATE WHITE)
LOUCH, MRS. CHARLES ALEXANDER (ALICE ADELAIDE SLOW)
KALLIO, MR. NIKOLAI ERLAND
SILVEY, MR. WILLIAM BAIRD
CARTER, MISS. LUCILE POLK
FORD, MISS. DOOLINA MARGARET "DAISY"
RICHARDS, MRS. SIDNEY (EMILY HOCKING)
FORTUNE, MR. MARK
KVILLNER, MR. JOHAN HENRIK JOHANNESSON
HART, MRS. BENJAMIN (ESTHER ADA BLOOMFIELD)
HAMPE, MR. LEON
PETTERSON, MR. JOHAN EMIL
REYNALDO, MS. ENCARNACION
JOHANNESEN-BRATTHAMMER, MR. BERNT
DODGE, MASTER. WASHINGTON
MELLINGER, MISS. MADELEINE VIOLET
SEWARD, MR. FREDERIC KIMBER
BACLINI, MISS. MARIE CATHERINE
PEUCHEN, MAJOR. ARTHUR GODFREY
WEST, MR. EDWY ARTHUR
HAGLAND, MR. INGVALD OLAI OLSEN
FOREMAN, MR. BENJAMIN LAVENTALL
GOLDENBERG, MR. SAMUEL L
PEDUZZI, MR. JOSEPH
JALSEVAC, MR. IVAN
MILLET, MR. FRANCIS DAVIS
KENYON, MRS. FREDERICK R (MARION)
TOOMEY, MISS. ELLEN
O'CONNOR, MR. MAURICE
ANDERSON, MR. HARRY
MORLEY, MR. WILLIAM
GEE, MR. ARTHUR H
MILLING, MR. JACOB CHRISTIAN
MAISNER, MR. SIMON
GONCALVES, MR. MANUEL ESTANSLAS
CAMPBELL, MR. WILLIAM
SMART, MR. JOHN MONTGOMERY
SCANLAN, MR. JAMES
BACLINI, MISS. HELENE BARBARA
KEEFE, MR. ARTHUR
CACIC, MR. LUKA
WEST, MRS. EDWY ARTHUR (ADA MARY WORTH)
JERWAN, MRS. AMIN S (MARIE MARTHE THUILLARD)
STRANDBERG, MISS. IDA SOFIA
CLIFFORD, MR. GEORGE QUINCY
RENOUF, MR. PETER HENRY
BRAUND, MR. LEWIS RICHARD
KARLSSON, MR. NILS AUGUST
HIRVONEN, MISS. HILDUR E
GOODWIN, MASTER. HAROLD VICTOR
FROST, MR. ANTHONY WOOD "ARCHIE"
ROUSE, MR. RICHARD HENRY
TURKULA, MRS. (HEDWIG)
BISHOP, MR. DICKINSON H
LEFEBRE, MISS. JEANNIE
HOYT, MRS. FREDERICK MAXFIELD (JANE ANNE FORBY)
KENT, MR. EDWARD AUSTIN
SOMERTON, MR. FRANCIS WILLIAM
COUTTS, MASTER. EDEN LESLIE "NEVILLE"
HAGLAND, MR. KONRAD MATHIAS REIERSEN
WINDELOV, MR. EINAR
MOLSON, MR. HARRY MARKLAND
ARTAGAVEYTIA, MR. RAMON
STANLEY, MR. EDWARD ROLAND
YOUSSEFF, MR. GERIOUS
EUSTIS, MISS. ELIZABETH MUSSEY
SHELLARD, MR. FREDERICK WILLIAM
ALLISON, MRS. HUDSON J C (BESSIE WALDO DANIELS)
SVENSSON, MR. OLOF
CALIC, MR. PETAR
CANAVAN, MISS. MARY
O'SULLIVAN, MISS. BRIDGET MARY
LAITINEN, MISS. KRISTINA SOFIA
MAIONI, MISS. ROBERTA
PENASCO Y CASTELLANA, MR. VICTOR DE SATODE
QUICK, MRS. FREDERICK CHARLES (JANE RICHARDS)
BRADLEY, MR. GEORGE ("GEORGE ARTHUR BRAYTON")
OLSEN, MR. HENRY MARGIDO
LANG, MR. FANG
DALY, MR. EUGENE PATRICK
WEBBER, MR. JAMES
MCGOUGH, MR. JAMES ROBERT
ROTHSCHILD, MRS. MARTIN (ELIZABETH L. BARRETT)
COLEFF, MR. SATIO
WALKER, MR. WILLIAM ANDERSON
LEMORE, MRS. (AMELIA MILLEY)
RYAN, MR. PATRICK
ANGLE, MRS. WILLIAM A (FLORENCE "MARY" AGNES HUGHES)
PAVLOVIC, MR. STEFO
PERREAULT, MISS. ANNE
VOVK, MR. JANKO
LAHOUD, MR. SARKIS
HIPPACH, MRS. LOUIS ALBERT (IDA SOPHIA FISCHER)
KASSEM, MR. FARED
FARRELL, MR. JAMES
RIDSDALE, MISS. LUCY
FARTHING, MR. JOHN
SALONEN, MR. JOHAN WERNER
HOCKING, MR. RICHARD GEORGE
QUICK, MISS. PHYLLIS MAY
TOUFIK, MR. NAKLI
ELIAS, MR. JOSEPH JR
PETER, MRS. CATHERINE (CATHERINE RIZK)
CACIC, MISS. MARIJA
HART, MISS. EVA MIRIAM
BUTT, MAJOR. ARCHIBALD WILLINGHAM
LEROY, MISS. BERTHA
RISIEN, MR. SAMUEL BEARD
FROLICHER, MISS. HEDWIG MARGARITHA
CROSBY, MISS. HARRIET R
ANDERSSON, MISS. INGEBORG CONSTANZIA
ANDERSSON, MISS. SIGRID ELISABETH
BEANE, MR. EDWARD
DOUGLAS, MR. WALTER DONALD
NICHOLSON, MR. ARTHUR ERNEST
BEANE, MRS. EDWARD (ETHEL CLARKE)
PADRO Y MANENT, MR. JULIAN
GOLDSMITH, MR. FRANK JOHN
DAVIES, MASTER. JOHN MORGAN JR
THAYER, MR. JOHN BORLAND JR
SHARP, MR. PERCIVAL JAMES R
O'BRIEN, MR. TIMOTHY
LEENI, MR. FAHIM ("PHILIP ZENNI")
OHMAN, MISS. VELIN
WRIGHT, MR. GEORGE
DUFF GORDON, LADY. (LUCILLE CHRISTIANA SUTHERLAND) ("MRS MORGAN")
ROBBINS, MR. VICTOR
TAUSSIG, MRS. EMIL (TILLIE MANDELBAUM)
DE MESSEMAEKER, MRS. GUILLAUME JOSEPH (EMMA)
MORROW, MR. THOMAS ROWAN
SIVIC, MR. HUSEIN
NORMAN, MR. ROBERT DOUGLAS
SIMMONS, MR. JOHN
MEANWELL, MISS. (MARION OGDEN)
DAVIES, MR. ALFRED J
STOYTCHEFF, MR. ILIA
PALSSON, MRS. NILS (ALMA CORNELIA BERGLUND)
DOHARR, MR. TANNOUS
JONSSON, MR. CARL
HARRIS, MR. GEORGE
APPLETON, MRS. EDWARD DALE (CHARLOTTE LAMSON)
FLYNN, MR. JOHN IRWIN ("IRVING")
KELLY, MISS. MARY
RUSH, MR. ALFRED GEORGE JOHN
PATCHETT, MR. GEORGE
GARSIDE, MISS. ETHEL
SILVEY, MRS. WILLIAM BAIRD (ALICE MUNGER)
CARAM, MRS. JOSEPH (MARIA ELIAS)
JUSSILA, MR. EIRIIK
CHRISTY, MISS. JULIE RACHEL
THAYER, MRS. JOHN BORLAND (MARIAN LONGSTRETH MORRIS)
DOWNTON, MR. WILLIAM JAMES
ROSS, MR. JOHN HUGO
PAULNER, MR. USCHER
TAUSSIG, MISS. RUTH
JARVIS, MR. JOHN DENZIL
FROLICHER-STEHLI, MR. MAXMILLIAN
GILINSKI, MR. ELIEZER
MURDLIN, MR. JOSEPH
RINTAMAKI, MR. MATTI
STEPHENSON, MRS. WALTER BERTRAM (MARTHA EUSTIS)
ELSBURY, MR. WILLIAM JAMES
BOURKE, MISS. MARY
CHAPMAN, MR. JOHN HENRY
VAN IMPE, MR. JEAN BAPTISTE
LEITCH, MISS. JESSIE WILLS
JOHNSON, MR. ALFRED
BOULOS, MR. HANNA
DUFF GORDON, SIR. COSMO EDMUND ("MR MORGAN")
JACOBSOHN, MRS. SIDNEY SAMUEL (AMY FRANCES CHRISTY)
SLABENOFF, MR. PETCO
HARRINGTON, MR. CHARLES H
TORBER, MR. ERNST WILLIAM
HOMER, MR. HARRY ("MR E HAVEN")
LINDELL, MR. EDVARD BENGTSSON
KARAIC, MR. MILAN
DANIEL, MR. ROBERT WILLIAMS
LAROCHE, MRS. JOSEPH (JULIETTE MARIE LOUISE LAFARGUE)
SHUTES, MISS. ELIZABETH W
ANDERSSON, MRS. ANDERS JOHAN (ALFRIDA KONSTANTIA BROGREN)
JARDIN, MR. JOSE NETO
MURPHY, MISS. MARGARET JANE
HORGAN, MR. JOHN
BROCKLEBANK, MR. WILLIAM ALFRED
HERMAN, MISS. ALICE
DANBOM, MR. ERNST GILBERT
LOBB, MRS. WILLIAM ARTHUR (CORDELIA K STANLICK)
BECKER, MISS. MARION LOUISE
GAVEY, MR. LAWRENCE
YASBECK, MR. ANTONI
KIMBALL, MR. EDWIN NELSON JR
NAKID, MR. SAHID
HANSEN, MR. HENRY DAMSGAARD
BOWEN, MR. DAVID JOHN "DAI"
SUTTON, MR. FREDERICK
KIRKLAND, REV. CHARLES LEONARD
LONGLEY, MISS. GRETCHEN FISKE
BOSTANDYEFF, MR. GUENTCHO
O'CONNELL, MR. PATRICK D
BARKWORTH, MR. ALGERNON HENRY WILSON
LUNDAHL, MR. JOHAN SVENSSON
STAHELIN-MAEGLIN, DR. MAX
PARR, MR. WILLIAM HENRY MARSH
SKOOG, MISS. MABEL
DAVIS, MISS. MARY
LEINONEN, MR. ANTTI GUSTAF
COLLYER, MR. HARVEY
PANULA, MRS. JUHA (MARIA EMILIA OJALA)
THORNEYCROFT, MR. PERCIVAL
JENSEN, MR. HANS PEDER
SAGESSER, MLLE. EMMA
SKOOG, MISS. MARGIT ELIZABETH
FOO, MR. CHOONG
BACLINI, MISS. EUGENIE
HARPER, MR. HENRY SLEEPER
COR, MR. LIUDEVIT
SIMONIUS-BLUMER, COL. OBERST ALFONS
WILLEY, MR. EDWARD
STANLEY, MISS. AMY ZILLAH ELSIE
MITKOFF, MR. MITO
DOLING, MISS. ELSIE
KALVIK, MR. JOHANNES HALVORSEN
O'LEARY, MISS. HANORA "NORAH"
HEGARTY, MISS. HANORA "NORA"
HICKMAN, MR. LEONARD MARK
RADEFF, MR. ALEXANDER
BOURKE, MRS. JOHN (CATHERINE)
EITEMILLER, MR. GEORGE FLOYD
NEWELL, MR. ARTHUR WEBSTER
FRAUENTHAL, DR. HENRY WILLIAM
BADT, MR. MOHAMED
COLLEY, MR. EDWARD POMEROY
COLEFF, MR. PEJU
LINDQVIST, MR. EINO WILLIAM
HICKMAN, MR. LEWIS
BUTLER, MR. REGINALD FENTON
ROMMETVEDT, MR. KNUD PAUST
COOK, MR. JACOB
TAYLOR, MRS. ELMER ZEBLEY (JULIET CUMMINS WRIGHT)
BROWN, MRS. THOMAS WILLIAM SOLOMON (ELIZABETH CATHERINE FORD)
DAVIDSON, MR. THORNTON
MITCHELL, MR. HENRY MICHAEL
WILHELMS, MR. CHARLES
WATSON, MR. ENNIS HASTINGS
EDVARDSSON, MR. GUSTAF HJALMAR
SAWYER, MR. FREDERICK CHARLES
TURJA, MISS. ANNA SOFIA
GOODWIN, MRS. FREDERICK (AUGUSTA TYLER)
CARDEZA, MR. THOMAS DRAKE MARTINEZ
PETERS, MISS. KATIE
HASSAB, MR. HAMMAD
OLSVIGEN, MR. THOR ANDERSON
GOODWIN, MR. CHARLES EDWARD
BROWN, MR. THOMAS WILLIAM SOLOMON
LAROCHE, MR. JOSEPH PHILIPPE LEMERCIER
PANULA, MR. JAAKO ARNOLD
DAKIC, MR. BRANKO
FISCHER, MR. EBERHARD THELANDER
MADILL, MISS. GEORGETTE ALEXANDRA
DICK, MR. ALBERT ADRIAN
KARUN, MISS. MANCA
LAM, MR. ALI
SAAD, MR. KHALIL
WEIR, COL. JOHN
CHAPMAN, MR. CHARLES HENRY
KELLY, MR. JAMES
MULLENS, MISS. KATHERINE "KATIE"
THAYER, MR. JOHN BORLAND
HUMBLEN, MR. ADOLF MATHIAS NICOLAI OLSEN
ASTOR, MRS. JOHN JACOB (MADELEINE TALMADGE FORCE)
SILVERTHORNE, MR. SPENCER VICTOR
BARBARA, MISS. SAIIDE
GALLAGHER, MR. MARTIN
HANSEN, MR. HENRIK JUUL
MORLEY, MR. HENRY SAMUEL ("MR HENRY MARSHALL")
KELLY, MRS. FLORENCE "FANNIE"
CALDERHEAD, MR. EDWARD PENNINGTON
CLEAVER, MISS. ALICE
MOUBAREK, MASTER. HALIM GONIOS ("WILLIAM GEORGE")
MAYNE, MLLE. BERTHE ANTONINE ("MRS DE VILLIERS")
KLABER, MR. HERMAN
TAYLOR, MR. ELMER ZEBLEY
LARSSON, MR. AUGUST VIKTOR

In [10]:
#get first 3 entries
for name in df['Name'][0:3]:
    print(name.upper())

BRAUND, MR. OWEN HARRIS
CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS THAYER)
HEIKKINEN, MISS. LAINA

In [14]:
# adding new column with upper name

df['upper_name'] = df['Name'].apply(lambda x:x.upper())
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,upper_name
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"BRAUND, MR. OWEN HARRIS"
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH..."
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"HEIKKINEN, MISS. LAINA"
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,"FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)"
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,"ALLEN, MR. WILLIAM HENRY"

In [18]:
for column in df:
    print(df[column])

0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: PassengerId, Length: 891, dtype: int64
0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64
0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: int64
0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object
0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object
0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64
0      1
1      1
2      0
3      1
4      0
      ..
886    0
887    0
888    1
889    0
890    0
Name: SibSp, Length: 891, dtype: int64
0      0
1      0
2      0
3      0
4      0
      ..
886    0
887    0
888    2
889    0
890    0
Name: Parch, Length: 891, dtype: int64
0             A/5 21171
1              PC 17599
2      STON/O2. 3101282
3                113803
4                373450
             ...
886              211536
887              112053
888          W./C. 6607
889              111369
890              370376
Name: Ticket, Length: 891, dtype: object
0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64
0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object
0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object
0                                BRAUND, MR. OWEN HARRIS
1      CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...
2                                 HEIKKINEN, MISS. LAINA
3           FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)
4                               ALLEN, MR. WILLIAM HENRY
                             ...
886                                MONTVILA, REV. JUOZAS
887                         GRAHAM, MISS. MARGARET EDITH
888             JOHNSTON, MISS. CATHERINE HELEN "CARRIE"
889                                BEHR, MR. KARL HOWELL
890                                  DOOLEY, MR. PATRICK
Name: upper_name, Length: 891, dtype: object

## Part 2

In [25]:
df1 = pd.DataFrame()
ID = [1001,1002,1003,1004]
Name = ['Virat Kohli','Susan Whistler','Micheal Scofield', 'Sarah Wilson']
Gender = ['Male','Male','Male','Female']
Country = ['India','Australia','England','Canada']


df1['ID'] = ID
df1['Name'] = Name
df1['Gender'] = Gender
df1['Country'] = Country

df1

     ID              Name  Gender    Country
0  1001       Virat Kohli    Male      India
1  1002    Susan Whistler    Male  Australia
2  1003  Micheal Scofield    Male    England
3  1004      Sarah Wilson  Female     Canada

In [26]:
df2 = pd.DataFrame()
ID = [2001,2002,2003,2004]
Name = ['Ramos Djavedi','Sanjeev Walia','Sneha Chowdhury','Lincoln Burrows']
Gender = ['Male','Male','Female','Male']
Country = ['US','India','Qatar','Canada']


df2['Name'] = Name
df2['ID'] = ID
df2['Gender'] = Gender
df2['Country'] = Country

df2

              Name    ID  Gender Country
0    Ramos Djavedi  2001    Male      US
1    Sanjeev Walia  2002    Male   India
2  Sneha Chowdhury  2003  Female   Qatar
3  Lincoln Burrows  2004    Male  Canada

In [27]:
df3 = pd.concat([df1,df2],axis=0)
df3

     ID              Name  Gender    Country
0  1001       Virat Kohli    Male      India
1  1002    Susan Whistler    Male  Australia
2  1003  Micheal Scofield    Male    England
3  1004      Sarah Wilson  Female     Canada
0  2001     Ramos Djavedi    Male         US
1  2002     Sanjeev Walia    Male      India
2  2003   Sneha Chowdhury  Female      Qatar
3  2004   Lincoln Burrows    Male     Canada

In [28]:
df4 = pd.concat([df1,df2],axis=1)
df4

,ID,Name,Gender,Country,Name,ID,Gender,Country
0,1001,Virat Kohli,Male,India,Ramos Djavedi,2001,Male,US
1,1002,Susan Whistler,Male,Australia,Sanjeev Walia,2002,Male,India
2,1003,Micheal Scofield,Male,England,Sneha Chowdhury,2003,Female,Qatar
3,1004,Sarah Wilson,Female,Canada,Lincoln Burrows,2004,Male,Canada

In [29]:
'''Create a new row to append'''
new_row = pd.Series([3001,'Steve Waugh','Male','Australia'], index=['ID', 'Name', 'Gender','Country'])

'''Append row'''
df5 = df3.append(new_row, ignore_index=True)
df5

     ID              Name  Gender    Country
0  1001       Virat Kohli    Male      India
1  1002    Susan Whistler    Male  Australia
2  1003  Micheal Scofield    Male    England
3  1004      Sarah Wilson  Female     Canada
4  2001     Ramos Djavedi    Male         US
5  2002     Sanjeev Walia    Male      India
6  2003   Sneha Chowdhury  Female      Qatar
7  2004   Lincoln Burrows    Male     Canada
8  3001       Steve Waugh    Male  Australia

## Part 3

In [30]:
df1 = pd.DataFrame()
ID = [1001,1002,1003,1004]
Name = ['Virat Kohli','Susan Whistler','Micheal Scofield', 'Sarah Wilson']
Country = ['India','Australia','England','Canada']


df1['ID'] = ID
df1['Name'] = Name
df1['Country'] = Country

df2 = pd.DataFrame()
ID = [1003,1004,2003,2004]
Salary = [20000,15000,25000,18000]

df2['ID'] = ID
df2['Salary'] = Salary

In [31]:
df1

     ID              Name    Country
0  1001       Virat Kohli      India
1  1002    Susan Whistler  Australia
2  1003  Micheal Scofield    England
3  1004      Sarah Wilson     Canada

In [32]:
df2

     ID  Salary
0  1003   20000
1  1004   15000
2  2003   25000
3  2004   18000

In [33]:
df3 = pd.merge(df1,df2,on='ID')
df3

     ID              Name  Country  Salary
0  1003  Micheal Scofield  England   20000
1  1004      Sarah Wilson   Canada   15000

In [34]:
df4 = pd.merge(df1,df2,on='ID',how='outer')
df4

     ID              Name    Country   Salary
0  1001       Virat Kohli      India      NaN
1  1002    Susan Whistler  Australia      NaN
2  1003  Micheal Scofield    England  20000.0
3  1004      Sarah Wilson     Canada  15000.0
4  2003               NaN        NaN  25000.0
5  2004               NaN        NaN  18000.0

In [35]:
df_left = pd.merge(df1,df2,on='ID',how='left')
df_left

     ID              Name    Country   Salary
0  1001       Virat Kohli      India      NaN
1  1002    Susan Whistler  Australia      NaN
2  1003  Micheal Scofield    England  20000.0
3  1004      Sarah Wilson     Canada  15000.0

In [36]:
df_right = pd.merge(df1,df2,on='ID',how='right')
df_right

     ID              Name  Country  Salary
0  1003  Micheal Scofield  England   20000
1  1004      Sarah Wilson   Canada   15000
2  2003               NaN      NaN   25000
3  2004               NaN      NaN   18000

In [37]:
df5 = pd.merge(df1,df2,left_on='ID',right_on='ID')
df5

     ID              Name  Country  Salary
0  1003  Micheal Scofield  England   20000
1  1004      Sarah Wilson   Canada   15000